.searchBar {
    width: 900px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;

    .left-side {
        display: flex;

        .fa-instagram {
            padding-top: 10px;
            padding-left: 10px;
        }

        p {
            margin: 0;
            padding: 5px 15px;
            font-size: 1rem;
            color: grey;
        }

        h2 {
            font-size: 1rem;
            font-family: 'Satisfy', cursive;
            padding-top: 10px;
            padding-right: 10px;
        }
    }

    .center {

        input {
            height: 20px;
            text-align: center;
            margin: 10px;
            border-radius: 6px;
            border: 1px solid grey;
        }
    }

    .right-side {
        .fa-heart {
            padding: 10px 20px;
        }
    }
}